@use '../abstracts/mixins';
@use '../abstracts/variables';

.general-heading-section {
  color: variables.$neutral-300;
  @include mixins.h1-section;
  margin: 0;
}

.general-heading-section-alt {
  color: variables.$secondary-500;
}

.sub-heading {
  @include mixins.h2-semi-bold;
  margin: 10px 0;

  @media (max-width: variables.$screen-sm) {
    @include mixins.h3-semi-bold;
  }
}

//.pitch-heading-section-sub {
//  margin: 10px 0;
//  @include h2-semi-bold;
//  color: $neutral-50;
//
//  @media (max-width: $screen-sm) {
//    @include h1-small-semi-bold;
//  }
//}
//
.sub-heading-large {
  @include mixins.h1-semi-bold;
  margin: 10px 0;

  @media (max-width: variables.$screen-sm) {
    @include mixins.h1-small-semi-bold;
  }
}

.heading-paragraph-large {
  @include mixins.subheading-regular;
  margin: 0;
  color: variables.$neutral-50;

  @media (max-width: variables.$screen-sm) {
    @include mixins.p2-regular;
  }
}

.underline-header-container {
  position: relative;
}

.heading-underline::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 43px;
  border-bottom: 4px solid variables.$neutral-900;
}

.underline-alt::after {
  border-bottom: 4px solid variables.$neutral-50;
}

.dark-heading-container {
  position: relative;
}

.dark-heading-container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 43px;
  border-bottom: 4px solid variables.$neutral-50;
}
