@use '../abstracts/variables';
@use '../abstracts/mixins';

/*
About page layout.
 */

.about-light-section {
  padding: 7%;
  background-color: variables.$secondary-50;

  @media (max-width: variables.$screen-md) {
    padding: 16px;
  }
}

.about-grid-container {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: fit-content;
  margin: auto;
}

.full-width-item {
  grid-row: 1;
  grid-column: 1 / span 2;
  width: 100%;
}

.grid-item {
  width: 100%;
}

.about-team-section {
  padding: 0 0 64px 0;
  background-color: variables.$secondary-50;
  color: variables.$neutral-900;
}

.team-paragraph-container {
  padding: 64px 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: variables.$screen-md) {
    padding: 64px 40px;
    gap: 12px;
  }
}

.about-heading-container {
  position: relative;

  @media (max-width: variables.$screen-md) {
    width: 100%;
  }
}

.about-dark-heading-container {
  position: relative;
}

.about-section-mission {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 192px 0 192px 80px;
  background-image: url('/img/open_data_day_curved.png');
  background-repeat: no-repeat;
  background-size: 45vw 40vw;
  background-position: right center;

  @media (min-width: 1700px) {
    background-size: 40% 80%;
  }

  @media (max-width: variables.$screen-lg) {
    background-image: none;
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
  }
}

.mission-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  @media (max-width: variables.$screen-lg) {
    width: auto;
    padding: 48px 40px 0 40px;
    margin: auto;
  }
}

.about-action-image {
  display: none;
  margin-top: 40px;

  @media (max-width: variables.$screen-lg) {
    display: block;
    height: 50vw;
    margin-bottom: 80px;
  }

  @media (max-width: variables.$screen-md) {
    display: block;
    height: 70vw;
    margin-bottom: 80px;
  }
}

.team-paragraph {
  width: 65%;

  @media (max-width: variables.$screen-md) {
    width: 100%;
  }
}

.team-members-container {
  padding: 0 80px;

  @media (max-width: variables.$screen-sm) {
    padding: 0 24px;
  }

  @media (max-width: variables.$screen-xs) {
    padding: 0;
  }
}

.team-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 10px;

  @media (max-width: variables.$screen-xxl) {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

.team-cards-grid div {
  color: black;
  text-align: center;
}

.team-grid-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 0 15px 0;
  border: solid 1px #eaecf0;
}

.member-info-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 15px;
}

.member-name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.member-name {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 29px;
  color: #282828;
  margin: 0;
}

.member-title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #3e3e59;
  margin: 0;
}

.member-quote {
  color: #5f6980;
  margin-right: auto;
}

.about-sub-heading {
  @include mixins.h1-semi-bold;
  margin: 10px 0;

  @media (max-width: variables.$screen-sm) {
    @include mixins.h1-small-semi-bold;
  }
}

.about-join-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 80px;
  gap: 24px;

  @media (max-width: variables.$screen-md) {
    padding: 48px 40px;
    gap: 40px;
  }

  @media (max-width: variables.$screen-xs) {
    padding: 48px 20px;
  }
}

.opportunities-container {
  display: grid;
  grid-template-columns: 2fr 1fr;

  @media (max-width: variables.$screen-lg) {
    display: block;
  }
}

.opportunities-intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin-right: 15%;

  @media (max-width: variables.$screen-lg) {
    margin-right: 0;
  }
}

.opportunities-intro-paragraph {
  @include mixins.p3-regular;
  margin: 0;

  @media (max-width: variables.$screen-sm) {
    @include mixins.p2-regular;
  }
}

.opportunities-intro-paragraph span {
  font-weight: 700;

  @media (max-width: variables.$screen-sm) {
    @include mixins.p2-regular;
    font-weight: 700;
  }
}

.opportunities-anchor {
  @include mixins.h3-bold;
  color: black;
  width: 85%;
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);

  @media (min-width: variables.$screen-xxl) {
    width: 12em;
  }
}

.opportunities-anchor a {
  color: variables.$primary-500;
}

.opportunities-get-started {
  position: relative;
  background-image: url('/img/about/rectangle.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media (max-width: variables.$screen-lg) {
    display: none;
  }
}

.opportunities-get-started img {
  opacity: 0;
}

.positions-heading {
  display: block;
  @include mixins.h3-bold;
  color: variables.$secondary-500;
  padding-top: 20px;

  @media (max-width: variables.$screen-md) {
    display: none;
  }
}

.positions-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  @media (max-width: variables.$screen-lg) {
    gap: 47px;
  }
}

.positions-container {
  width: 48%;
  min-width: 400px;

  @media (max-width: variables.$screen-lg) {
    width: 100%;
  }

  @media (max-width: variables.$screen-sm) {
    min-width: 0;
  }
}

.positions-list {
  border-top: 1px variables.$neutral-400 solid;
  list-style: disc;
}

.position {
  @include mixins.subheading-bold;
  font-weight: 600;
  color: variables.$neutral-200;
}
