@use '../abstracts/variables';
@use '../abstracts/mixins';

/*
FAQ page layout.
 */

.faq-heading-section-sub {
  max-width: 450px;
}

.faq-main {
  background-color: variables.$secondary-50;
  padding-bottom: 50px;
  border-bottom: 1px solid variables.$neutral-900;
}

.faq-container-margins {
  margin: 0 80px;

  @media (max-width: variables.$screen-md) {
    margin: 0 40px;
  }
}

.faq-nav-light {
  color: variables.$neutral-900;
  border: 1px solid variables.$primary-500;
  border-left: none;
  border-right: none;
  margin: 0 80px;

  @media (max-width: variables.$screen-md) {
    margin: 0 40px;
  }
}

.faq-nav {
  justify-content: left;
  padding: 20px;
}

.faq-nav a {
  @include mixins.nav-semi-bold;
  color: variables.$primary-500;
  text-decoration: none;
  margin-right: 20px;
  display: inline-block;
  padding: 5px 0;

  @media (max-width: variables.$screen-lg) {
    font-size: 16px;
  }

  @media (max-width: variables.$screen-md) {
    display: block;
    font-size: 20px;
    width: 100%;
  }
}

.faq-container-margins h3 {
  @include mixins.h4-semi-bold;
  padding: 40px 0;
  margin-top: 40px;

  @media (max-width: variables.$screen-md) {
    @include mixins.h5-semi-bold;
  }
}

.faq-container-margins h3:first-child {
  margin-top: 0;
}

.faq-container-margins h4 {
  @include mixins.h5-semi-bold;
  padding: 24px 0;

  @media (max-width: variables.$screen-md) {
    font-size: 16px;
    font-weight: 700;
  }
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

.faq-question a,
details h4 {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faq-question a::after,
details h4::after {
  content: '';
  flex-shrink: 0;
  margin-left: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 6.5V12.5M12 12.5V18.5M12 12.5H18M12 12.5H6' stroke='%23060718' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  display: block;
  background-size: 24px;
  background-position: center;
  height: 44px;
  width: 44px;
  padding: 10px;
}

.faq-question.question-open a::after,
details[open] h4::after {
  content: '';
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 12H6' stroke='%23060718' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

