@use "../abstracts/variables";
@use "../abstracts/mixins";

/*
Get Started page layout
 */

.dark-heading-container {
  position: relative;
}

.dark-heading-container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 43px;
  border-bottom: 4px solid variables.$neutral-50;
}
