@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../base/animations';

/*
Home page layout.
 */
.home-landing-image {
  background-image: url('/img/towerbridgenight.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;

  @media (max-width: variables.$screen-sm) {
    background-image: none;
  }
}

.home-landing-background {
  background-color: variables.$landing-background-color;
  color: variables.$neutral-50;
}

.home-landing-container {
  width: 40%;
  min-height: 721px;
  padding: 0 30px 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  color: variables.$neutral-50;

  @media (max-width: variables.$screen-xl) {
    width: 70%;
  }

  @media (max-width: variables.$screen-md) {
    width: auto;
    justify-content: flex-start;
    padding: 30% 40px 60px;
  }

  @media (max-width: variables.$screen-sm) {
    min-height: 0;
  }
}

.home-landing-heading {
  @include mixins.h1-bold;
  margin: 0;

  @media (max-width: variables.$screen-sm) {
    @include mixins.h3-bold;
  }
}

.home-landing-heading span {
  @include mixins.h1-small-bold;

  @media (max-width: variables.$screen-sm) {
    @include mixins.h3-bold;
  }
}

.home-section-landing-image {
  display: none;

  @media (max-width: variables.$screen-sm) {
    display: block;
    width: 100%;
  }
}

.home-buttons-group {
  width: fit-content;
  display: flex;
  gap: 20px;
}

.home-section-dark-container {
  position: relative;
}

.donate-section-underline::after {
  padding-bottom: 18px;
  border-bottom: 8px solid variables.$neutral-50;
  width: 101px;
}

.home-section-paragraph-anchor {
  color: variables.$neutral-900;
  font-weight: 700;
}

.home-about-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  @media (max-width: variables.$screen-lg) {
    width: auto;
    padding: 48px 40px 0 40px;
    margin: auto;
  }
}

.home-section-dark-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 192px 0 192px 80px;

  @media (max-width: variables.$screen-lg) {
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
  }
}

.home-about-image {
  background-image: url('/img/open_data_day_curved.png');
  background-repeat: no-repeat;
  background-size: 45vw 40vw;
  background-position: right center;

  @media (min-width: 1700px) {
    background-size: 40% 80%;
  }

  @media (max-width: variables.$screen-lg) {
    background-image: none;
  }
}

.home-section-action-image {
  display: none;
  margin-top: 40px;

  @media (max-width: variables.$screen-lg) {
    display: block;
    height: 50vw;
    margin-bottom: 80px;
  }

  @media (max-width: variables.$screen-md) {
    display: block;
    height: 70vw;
    margin-bottom: 80px;
  }
}

.home-services-container {
  padding: 0 80px 96px 80px;

  @media (max-width: variables.$screen-lg) {
    padding: 0 20px 96px 20px;
  }

  @media (max-width: variables.$screen-md) {
    padding: 48px 40px;
  }
}

.home-numbered-grid {
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;

  @media (max-width: variables.$screen-md) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
}

.home-numbered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  max-width: 600px;
}

.home-numbered-header {
  @include mixins.h3-bold;
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0;

  @media (max-width: variables.$screen-sm) {
    @include mixins.h4-bold;
  }
}

.home-numbered-paragraph {
  @include mixins.p3-regular;
  text-align: center;
}

.home-projects-section {
  padding: 96px 80px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px;

  @media (max-width: 1300px) {
    flex-direction: column;
    justify-content: center;
    padding: 48px 40px;
    gap: 80px;
  }
}

.home-projects-info-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  @media (max-width: variables.$screen-xxl) {
    width: 100%;
  }
}

.home-section-project-image {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.slide-content {
  width: 100%;
}

.slide-content p {
  @media (max-width: variables.$screen-lg) {
    margin-bottom: 10px;
  }
}

.test {
  margin: auto;
  max-width: 100%;

  @media (min-width: 1300px) {
    max-width: 60%;
  }
}

.partnership-section {
  padding: 64px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  @media (max-width: variables.$screen-lg) {
    padding: 64px 40px;
    align-items: center;
  }
}

.heading-underline-partnership::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 93px;
  border-bottom: 8px solid variables.$secondary-50;
  margin-bottom: 20px;
}

.donate-section {
  padding: 64px 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  @media (max-width: variables.$screen-lg) {
    flex-direction: column;
    padding: 64px 40px;
  }
}

.donate-section-paragraph-container {
  display: flex;
  flex-direction: column;

  @media (max-width: variables.$screen-xxl) {
    width: 100%;
  }
}

.heading-large-section-sub {
  margin: 10px 0;
  @include mixins.h1-semi-bold;

  @media (max-width: variables.$screen-lg) {
    @include mixins.h3-semi-bold;
  }
}

.home-section-dark-paragraph {
  @include mixins.subheading-medium-regular;
  margin: 0 0 30px 0;

  @media (max-width: variables.$screen-lg) {
    @include mixins.p3-regular;
  }
}

.home-section-dark-paragraph-bold {
  @include mixins.subheading-medium-bold;
  margin: 0 0 30px 0;

  @media (max-width: variables.$screen-lg) {
    @include mixins.p3-bold;
  }
}

.home-projects-section-partnerships {
  padding-left: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  gap: 48px;

  @media (max-width: variables.$screen-lg) {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 60px;
  }
}

.home-numbered-paragraph-partnerships {
  @include mixins.p3-regular;
  text-align: left;
  margin-top: 24px;
}
