@use '../abstracts/variables';
@use '../abstracts/mixins';

.not-found-container {
  min-height: 100dvh;
  display: grid;
  background-color: variables.$secondary-50;
  text-align: center;
}

.not-found-content {
  margin: 8rem 1rem;
  gap: 1rem;
}

.not-found-text-container {
  text-align: center;
}

.not-found-content {
  margin: 8rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: variables.$screen-md) {
  .not-found-content {
    margin: 0 2rem;
    align-self: center;
  }
}

.not-found-content h1 {
  @include mixins.h1-bold;
  color: variables.$primary-900;
  margin: 0;
}

.not-found-content h4 {
  @include mixins.subheading-medium-bold;
  color: variables.$primary-900;
  margin: 0;
}

.not-found-content p {
  @include mixins.p3-regular;
  color: variables.$neutral-300;
  margin: 0;
  @media (max-width: variables.$screen-sm) {
    display: inline;
  }
}

.not-found-content p:first-child {
  @media (max-width: variables.$screen-sm) {
    display: inline;
    margin-right: 5px;
  }
}

.not-found-link {
  color: variables.$neutral-900;
}
