@use "../abstracts/mixins";
@use "../abstracts/variables";

.instructions-container {
  display: flex;
  flex-direction: column;
  gap: 48px;

  a {
    color: variables.$secondary-500;
    font-weight: 700;
  }
}

.sidebar-info-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.steps-steps-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.steps-step-container {
  display: flex;
  flex-direction: row;
  gap: 32px;

  @media (max-width: variables.$screen-xl) {
    gap: 16px;
  }
}

.step-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.step-image {
  width: 10vw;
  height: 10vw;
  max-width: 72px;
  max-height: 72px;
}

.step-header {
  @include mixins.h3-bold;
  margin: 0;
  color: variables.$neutral-50;

  @media (max-width: variables.$screen-sm) {
    @include mixins.h5-semi-bold;
    font-weight: 700;
  }
}

.step-paragraph {
  @include mixins.p3-regular;
  margin: 0;
  color: variables.$neutral-50;

  @media (max-width: variables.$screen-sm) {
    @include mixins.p2-regular;
  }
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: variables.$screen-xs) {
    gap: 0;
  }
}
