@use "../abstracts/variables";

.navigation-wrapper {
    position: relative;
}

.project-screenshots-slider-container {
    .project-screenshot, .project-blank-screenshot {
        border: 1px solid variables.$neutral-700;
        border-radius: 8px;
    }
    
    .dot {
        background: variables.$primary-600;
    }
  
    .dot.active {
        background: variables.$primary-400;
    }
  
    @media (min-width: variables.$screen-md) {
        display: none;
    }
}  

.dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.dot {
    border: none;
    width: 10px;
    height: 10px;
    background: variables.$secondary-50;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}
  
.dot:focus {
    outline: none;
}
  
.dot.active {
    background: variables.$secondary-500;
}  