@use '../abstracts/variables';

html,
body {
  background: variables.$landing-background-color;
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: underline;
}
