@use '../abstracts/mixins';
@use '../abstracts/variables';

/*
Application typography. The Inter font family is applied by next/font in layout.js.
 */

.paragraph-bold {
  @include mixins.subheading-bold;
}

.general-section-light {
  color: variables.$neutral-900;
  background-color: variables.$secondary-50;
  padding: 96px 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @media (max-width: variables.$screen-md) {
    padding: 48px 40px;
    flex-direction: column;
  }
}

.upper-first {
  text-transform: capitalize;
}
